In [1]:

import numpy as numpy
import pandas as pandas
import matplotlib.pyplot as plt

from IPython.display import HTML, display
import tabulate

from sklearn.linear_model import LinearRegression

In [2]:

df1 = pandas.read_csv (r'data\soil1992.csv')
df2 = pandas.read_csv (r'data\soil2001.csv')
df3 = pandas.read_csv (r'data\soil2006.csv')
df4 = pandas.read_csv (r'data\soil2011.csv')

columns = df1.columns[1:].values

df1.columns = numpy.concatenate([["stco"], (df1.columns[1:].values + "1992")])
df2.columns = numpy.concatenate([["stco"], (df2.columns[1:].values + "2001")])
df3.columns = numpy.concatenate([["stco"], (df3.columns[1:].values + "2006")])
df4.columns = numpy.concatenate([["stco"], (df4.columns[1:].values + "2011")])

df = df1.merge(df2, how='left', on='stco')
df = df.merge(df3, how='left', on='stco')
df = df.merge(df4, how='left', on='stco')

df1

,stco,whc1992,sand1992,silt1992,clay1992,om1992,kwfactor1992,kffactor1992,spH1992,slope1992,tfactor1992
0,1001,24.783429,59.681402,20.048434,20.270163,111.806781,0.223065,0.226399,5.139626,51.036285,4.950716
1,1003,23.538841,59.091992,21.805165,19.102843,185.667551,0.250390,0.256134,4.940044,106.221047,4.936530
2,1005,21.483670,61.744352,16.410103,21.845545,88.429680,0.212322,0.212400,5.127343,65.980025,4.926214
3,1007,25.890773,50.707970,24.242096,25.049933,71.572749,0.244816,0.256716,4.957079,41.041487,4.861003
4,1009,18.282575,37.500558,33.404699,29.094743,79.915417,0.245428,0.296248,4.914515,32.146565,3.174986
...,...,...,...,...,...,...,...,...,...,...,...
3065,56037,14.367646,69.070912,17.919196,13.009892,63.481267,0.193107,0.219902,8.002302,51.564180,3.566152
3066,56039,15.435892,56.366681,30.091656,13.541664,126.720523,0.206712,0.282057,7.319218,NaN,3.498371
3067,56041,14.455931,69.503138,16.975038,13.521823,150.098111,0.138142,0.176584,7.933074,62.224126,3.269436
3068,56043,22.696846,35.084727,25.140569,39.774704,63.372013,0.309996,0.318125,8.347793,NaN,4.720095
3069,56045,21.376395,33.878523,40.994171,25.127307,130.398108,0.328108,0.352249,7.956210,48.713048,4.261674

In [3]:

cols = []

for c in columns: 
    cols.append(c + "_mean")
    df[c+"_mean"] = df[[c+"1992", c+"2001", c+"2006", c+"2011"]].mean(axis=1)
    
df[cols].describe()

,whc_mean,sand_mean,silt_mean,clay_mean,om_mean,kwfactor_mean,kffactor_mean,spH_mean,slope_mean,tfactor_mean
count,3070.000000,3070.000000,3070.000000,3070.000000,3070.000000,3070.000000,3070.000000,3070.000000,2935.000000,3070.000000
mean,23.837803,36.765657,37.223777,26.010566,192.880649,0.293925,0.317497,6.382797,61.694291,4.346521
std,5.744237,19.433031,14.324625,9.280461,253.862672,0.086768,0.085974,1.062404,44.585361,0.545190
min,3.229838,4.218232,1.329885,1.198890,26.824140,0.022983,0.022984,4.610421,1.556971,1.203383
25%,19.856663,20.697222,27.283620,20.508006,93.244255,0.238561,0.268868,5.355164,41.593706,4.025074
50%,23.531472,34.554205,37.297372,26.047798,138.073480,0.292341,0.320373,6.257999,54.677555,4.488395
75%,27.520429,48.995892,47.695346,32.285115,213.947278,0.348123,0.376793,7.379803,67.829541,4.790743
max,42.125877,95.785981,75.510668,63.617635,8890.272469,0.571147,0.580486,8.934957,842.997444,5.000000

In [4]:

cols = []

for c in columns: 
    cols.append(c + "_var")
    df[c+"_var"] = df[[c+"1992", c+"2001", c+"2006", c+"2011"]].var(axis=1)    

df[cols].describe()

,whc_var,sand_var,silt_var,clay_var,om_var,kwfactor_var,kffactor_var,spH_var,slope_var,tfactor_var
count,3064.000000,3064.000000,3064.000000,3064.000000,3.064000e+03,3.064000e+03,3.064000e+03,3064.000000,2917.000000,3064.000000
mean,0.446717,1.396923,0.643395,0.424024,3.184737e+03,4.953805e-05,3.370656e-05,0.001649,12.102757,0.007453
std,3.268713,9.027061,4.280158,2.874049,5.540892e+04,2.938528e-04,2.246423e-04,0.012628,249.837207,0.066063
min,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,0.002830,0.010636,0.005086,0.003253,3.010008e-01,3.006886e-07,2.122453e-07,0.000008,0.008162,0.000019
50%,0.018630,0.062963,0.030440,0.017934,2.417051e+00,2.053738e-06,1.412010e-06,0.000051,0.087885,0.000155
75%,0.105727,0.380407,0.187545,0.105971,3.027896e+01,1.269374e-05,8.654207e-06,0.000331,0.737043,0.001007
max,74.762506,319.681883,122.744217,102.588888,2.108869e+06,6.277831e-03,7.634290e-03,0.447173,11889.222364,2.282243

In [5]:

cols = []

for c in columns: 
    cols.append(c + "_diff")
    df[c+"_diff"] = (df[c+"2006"] - df[c+"1992"])

    
df[cols].describe()

,whc_diff,sand_diff,silt_diff,clay_diff,om_diff,kwfactor_diff,kffactor_diff,spH_diff,slope_diff,tfactor_diff
count,3060.000000,3060.000000,3060.000000,3060.000000,3060.000000,3060.000000,3060.000000,3060.000000,2912.000000,3060.000000
mean,0.303630,-0.307189,0.180933,0.126256,-2.573440,0.002632,0.001276,0.012294,0.458057,0.029794
std,1.276231,2.315692,1.570017,1.255007,112.910676,0.013446,0.011356,0.078532,6.967379,0.167944
min,-10.163149,-20.697084,-22.866458,-17.663036,-1590.532569,-0.158094,-0.174421,-0.927162,-223.535578,-1.698558
25%,-0.085904,-0.719266,-0.161826,-0.174792,-2.465945,-0.000970,-0.001053,-0.007453,-0.144337,-0.009955
50%,0.108461,-0.169821,0.107920,0.065040,0.446655,0.000906,0.000629,0.003217,0.180036,0.006910
75%,0.460836,0.212972,0.511620,0.333745,3.218990,0.004636,0.003479,0.020411,1.038165,0.038054
max,17.157488,35.734837,17.174998,12.903498,2930.016317,0.150990,0.123809,1.337420,131.033633,3.021419

In [6]:
df = df.dropna()

In [7]:

model = LinearRegression()

coef = pandas.DataFrame()
itcp = pandas.DataFrame()
rval = pandas.DataFrame()

for c in columns:
    
    col_coef = []
    col_itcp = []
    col_rval = []
    
    for i in range(len(df)):
        
        X = numpy.array([1992, 2001, 2006, 2011])
        Y = df[[c+"1992", c+"2001", c+"2006", c+"2011"]].iloc[i]
        
        model.fit( X.reshape(-1, 1), Y.values )
        
        col_coef.append(model.coef_[0])
        col_itcp.append(model.intercept_)
        col_rval.append(model.score(X.reshape(-1, 1), Y))
        
    coef[c + "_coef"] = col_coef
    itcp[c + "_itcp"] = col_itcp
    rval[c + "_rval"] = col_rval

In [8]:
coef.describe()

,whc_coef,sand_coef,silt_coef,clay_coef,om_coef,kwfactor_coef,kffactor_coef,spH_coef,slope_coef,tfactor_coef
count,2910.000000,2910.000000,2910.000000,2910.000000,2910.000000,2910.000000,2910.000000,2910.000000,2910.000000,2910.000000
mean,0.015574,-0.016657,0.010194,0.006463,-0.142981,0.000139,0.000074,0.000583,0.024307,0.001445
std,0.065833,0.121963,0.082700,0.066774,6.066394,0.000672,0.000579,0.003720,0.366528,0.008211
min,-0.547514,-1.187645,-1.265180,-1.181149,-84.794200,-0.008470,-0.009337,-0.050786,-12.054963,-0.090532
25%,-0.004384,-0.038202,-0.008224,-0.008565,-0.123657,-0.000051,-0.000054,-0.000378,-0.007913,-0.000488
50%,0.005629,-0.009359,0.005632,0.003631,0.023731,0.000047,0.000035,0.000178,0.009551,0.000380
75%,0.024107,0.010267,0.027383,0.017610,0.167071,0.000241,0.000182,0.001069,0.055098,0.001986
max,0.916708,1.906939,0.986174,0.722340,156.495522,0.007816,0.007816,0.047071,6.961457,0.121931

In [9]:
rval.describe()

,whc_rval,sand_rval,silt_rval,clay_rval,om_rval,kwfactor_rval,kffactor_rval,spH_rval,slope_rval,tfactor_rval
count,2910.000000,2910.000000,2.910000e+03,2910.000000,2.910000e+03,2910.000000,2910.000000,2.910000e+03,2910.000000,2910.000000
mean,0.697211,0.696669,6.983433e-01,0.695678,6.892417e-01,0.692896,0.694610,6.976581e-01,0.715173,0.705899
std,0.188122,0.192848,1.898744e-01,0.192028,1.879818e-01,0.197465,0.196054,1.941453e-01,0.181882,0.181384
min,0.000002,0.000087,3.361481e-07,0.000033,6.729561e-08,0.000006,0.000157,3.531743e-07,0.000005,0.000249
25%,0.687606,0.678128,6.801243e-01,0.677385,6.730455e-01,0.679422,0.676450,6.825025e-01,0.698586,0.691031
50%,0.743905,0.744374,7.445801e-01,0.744930,7.406325e-01,0.744747,0.745269,7.448233e-01,0.745364,0.744055
75%,0.782213,0.786329,7.848284e-01,0.785420,7.701478e-01,0.787037,0.790675,7.921037e-01,0.788981,0.785888
max,0.998551,0.996774,9.999558e-01,0.999210,9.991476e-01,0.997924,0.998979,9.989865e-01,1.000000,1.000000